<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'PostalCodeAPI', postalcodes_path, class:"navbar-brand" %>
        
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'List Postal Codes', postalcodes_path, class:"nav-link" %>
          
        </li>
        
      </ul>
      <%=render 'postalcodes/form'%>
      <div class="d-flex flex-column">
        <%if !@user %>
          <%=link_to "Sing in" , '/login', :class=>"btn btn-outline-success m-1"%>
        <%end %>
        <%if @user %>
          <%=link_to "Sing out" , '/', :class=>"btn btn-outline-success m-1"%>
          <%end %>

      </div>

    </div>
  </div>
</nav>