<%= form_tag("/user", type:"number",:method => "get", :class => "") do %>

  <%=label_tag "ID" %>
  <%= text_field_tag( :id, "", :class=>"form-control me-2") %>


  <%=label_tag "Password" %>
  <%= text_field_tag( :password, "", :class=>"form-control me-2") %>



<div class="d-flex flex-column">
  <%= submit_tag("Log In", :class=>"btn btn-primary mt-2 ") %>
</div>


<% end %>
