<p>
  <strong>Department:</strong>
  <%= @postalcode.department %>
</p>
<p>
  <strong>municipality:</strong>
  <%= @postalcode.municipality %>
</p>
<p>
  <strong>Postalcode:</strong>
  <%= @postalcode.postalcode %>
</p>
<p>
  <strong>neighbourhood:</strong>
  <%= @postalcode.neighbourhood %>
</p>

<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen

  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD-6uP7mv5jyiLK87lVND1AXNlpoNoLeOo&q=<%=@postalcode.neighbourhood %>, <%=@postalcode.department %>">
</iframe>
